<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.net EMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*Below we want to check users permission level and if they are signed in or not. To make sure we direct them to the correct links.*@
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Session["username"] == null)
                    {
                        <li>@Html.ActionLink("Log In", "LogIn", "Users")</li>
                    }
                    @*This line below is to enforce the "Employee"- tier users can view there own profile but doesn't have access to everything else. A better
                        if statement will condense this code.*@
                    else if (Session["permissionTier"].ToString().Contains("bronze") && Session["permissionTier"].ToString().Contains("silver") == false)
                    {
                        
                        <li>@Html.ActionLink("Your profile", "Index", "Employees")</li>
                        <li>@Html.ActionLink("Log Out", "LogOut", "Users")</li>

                    }
                    else if (Session["permissionTier"].ToString().Contains("silver"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                        <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                        <li>@Html.ActionLink("Log Out", "LogOut", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        <li>@Html.ActionLink("Log Out", "LogOut", "Users")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Employee Management System by Manuel Ortiz</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
