@model IEnumerable<EmployeeWebsite.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payroll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.badge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vacationHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalTimeOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourlyRates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payroll)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.badge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vacationHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalTimeOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HourlyRates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
